h1{
    font-size: 62px;
    text-align: center;
    font-family: 'mr_KindlyJasmineG', cursive;
    font-weight: bold;
}
/*.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 30vh;
    background:#abcdef;
    -webkit-background-size: cover;
    background-size: cover;
}
.intro2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 130vh;
    background: url("../imgs/FON_INTRO.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
input[type="name"], input[type="surname"], input[type="patronomyc"], input[type="telephone"]{
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 25px;
    border-radius: 4px;
    padding-left: 10px;
}
.dws-submit{
    padding: 13px 30px;
    margin: 10px 0 20px 0;
    font-size: 22px;
    color: #fff;
    background-color: #2ca8c6;
    border: none;
    border-bottom: 4px solid #6ee9fd;
    cursor: pointer;
    font-family: 'mr_KindlyJasmineG', cursive;
    text-decoration: none;
}
.dws-submit:hover{
    transition: all 0.5s;
    background: #fff;
    color: #2c536c;
}
.container{
    width: 450px;
    height: 600px;
    background-color:#333;
    position: absolute;
    right: 12px;
    text-align: center;
    box-shadow: 0 -5px 0 red;
    border-radius: 0 0 10px 10px;
    margin-top: 165px;
}
.container img{
    width: 120px;
    height: 120px;
    margin: -60px 0 30px 0;
    border: 5px solid #1a394f;
    border-radius: 50%;
    box-shadow: 0 -5px #3adbfd;
}
.container2{
    width: 450px;
    height: 600px;
    background-color: #333;
    position: absolute;
    left: 12px;
    text-align: center;
    box-shadow: 0 -5px 0 red;
    border-radius: 0 0 10px 10px;
    margin-top: 165px;
}
.container2 img{
    width: 120px;
    height: 120px;
    margin: -60px 0 30px 0;
    border: 5px solid #1a394f;
    border-radius: 50%;
    box-shadow: 0 -5px #3adbfd;
}
h3{
    font-size: 38px;
    font-family: 'mr_KindlyJasmineG', cursive;
    font-weight: bold;

    color: #fff;
    margin : 0;
    margin-bottom: 550px;
}
.section_header{
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;
    text-align: center;
}
.section_suptitle{
    font-size: 56px;
    color: #333;
    font-family: 'mr_KindlyJasmineG', cursive;
}
h3{
    margin : 0;
    margin-bottom: 500px;
}
input[type="Money"], input[type="Hire employee"], input[type="Dismissal employee"], input[type="Statistics"]{
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 25px;
    border-radius: 4px;
    padding-left: 10px;
}
.dws-input2{
    margin-top: 120px;
}
.dws-input3{
    margin-top: 100px;
}
h4{
    font-size: 35px;
    color: #333;
    font-family: 'mr_KindlyJasmineG', cursive;
}
.header_menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 15vh;
    background:#fff;
    -webkit-background-size: cover;
    background-size: cover;
}
.dws-submit2{
    padding: 13px 40px;
    margin: 10px 0 20px 0;
    font-size: 22px;
    color: #fff;
    background-color: rgb(42, 140, 160);
    border: none;
    border-bottom: 4px solid #6ee9fd;
    cursor: pointer;
    font-family: 'mr_KindlyJasmineG', cursive;
    text-decoration: none;
    margin-top: -30px;
}
.dws-submit2:hover{
    transition: all 0.5s;
    background: #fff;
    color: #2c536c;
}*/
.table{
    justify-content: center;
    width: 50%;
    margin-top: 30px;
    margin-left: 340px;
}
.text{
    color: #333;
    font-family: 'mr_KindlyJasmineG', cursive;
    font-size: 40px;
}
.size{
    height: 25px;
    background-color: #fff;
}
p{
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'mr_KindlyJasmineG', cursive;
    color: #fff;
}
.restore{
    padding: 13px 40px;
    color: #fff;
    background-color: rgb(42, 140, 160);
    border: none;
    border-bottom: 4px solid #6ee9fd;
    cursor: pointer;
    font-size: 40px;
    text-decoration: none;
    font-family: 'mr_KindlyJasmineG', cursive;
    margin-left: 670px;
}
.restore:hover{
    transition: all 0.5s;
    background: #fff;
    color: #2c536c;
}