{% extends 'basics.html' %}


    {% block style %}
    <link rel = "stylesheet" href = "{{ url_for('static',filename='css/Add_Service.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    {% endblock %}
{% block title %}Statistics    {% endblock %}
{% block body %}
    <div class = "intro">
        <h1>Добавить услугу</h1>
<div class = "container">
    <img src = "{{ url_for('static',filename='imgs/Service.jpg') }}">
    <form method="post">
        <div class = "dws-input">
        <input type = "text" name = "name" placeholder = "Название услуги:">
        </div>
        <div class = "dws-input">
        <input type = "text" name = "type" placeholder = "Тип услуги:">
        </div>
        <br />
        <br />
        <button class = "dws-submit2" type = "submit" name = "submit" value = "Report">Обновить список услуг</button>
        <br />
        <br />
        <br />
        <a class = "restore" href = "/director">Назад</a>
    </form>
</div>
</div>    {% endblock %}