{% extends 'basics.html' %}
    {% block style %}
    <link rel = "stylesheet" href = "{{ url_for('static',filename='css/Add_Staff.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    {% endblock %}
{% block title %}
    Add Staff {% endblock %}
{% block body %}
    <div class = "intro">
        <h1>Добавить сотрудника</h1>
<div class = "container">
    <img src = "{{ url_for('static',filename='imgs/Add_Staff.jpg') }}">
    <form method = "post">
        <div class = "dws-input">
        <input type = "text" name = "name_login" placeholder = "Имя:">
        </div>
        <div class = "dws-input">
        <input type = "text" name = "surname" placeholder = "Фамилия:">
        </div>
        <div class = "dws-input">
        <input type = "text" name = "patronomyc" placeholder = "Отчество:">
        </div>
        <div class = "dws-input">
        <input type = "text" name = "telephone" placeholder = "Телефон:">
        </div>
        <div class = "dws-input">
        <input type = "text" name = "position" placeholder = "Должность сотрудника:">
        </div>
        <div class = "dws-input">
        <input type = "text" name = "service" placeholder = "Название услуги:">
        </div>
        <div class = "dws-input">
        <input type = "text" name = "service_type" placeholder = "Название услуги:">
        </div>
        <div class = "dws-input">
        <input type = "text" name = "login" placeholder = "Login:">
        </div>
        <div class = "dws-input">
        <input type = "text" name = "passw" placeholder = "Passw:">
        </div>
        <br />
        <br />
        <button class = "dws-submit2"  type = "submit" name = "submit" value = "Report">Добавить сотрудника</button>
        <br />
        <br />
        <br />
        <a class = "restore" href = "/director/{{username}}">Назад</a>
    </form>
</div>
</div>{% endblock %}