{% extends 'basics.html' %}

    {% block style %}
        <link rel = "stylesheet" href = "{{ url_for('static',filename='css/Delete_Staff2.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    {% endblock %}
{% block title %}Trainer    {% endblock %}
{% block body %}
                         <h1>Список услуг</h1>
                                                            <table class = "table" border = "2">
                                                                   <tr>
                                                                          <th class = "text">Название услуги</th>
                                                                          <th class = "text">Тип услуги</th>
                                                                   </tr>
                                                                   <tr>
                                                                          <td class = "size"></td>
                                                                          <td class = "size"></td>
                                                                   </tr>
                                                                <tr>
                                                                          <td class = "size"></td>
                                                                          <td class = "size"></td>
                                                                   </tr>
                                                                <tr>
                                                                          <td class = "size"></td>
                                                                          <td class = "size"></td>
                                                                   </tr>
                                                            </table>
                                                            <br />
                                                            <br />
                                                            <a class = "restore" href = "/director">Назад</a>
                                                            <!--<button class = "dws-submit3" alt = "" type = "submit">Расписание на следующую неделю</button>-->
                                                     <!--<a class = "dws-submit2" href = "file:///C:/Users/Owner/Desktop/Курсовая%20Малахов/Training.html" type = "Money" name = "Money" value = "Money">Training</a>
                                                     </div>
                                                     <div class = "dws-input3">
                                                     <a class = "dws-submit2" href = "file:///C:/Users/Owner/Desktop/Курсовая%20Малахов/Workshift.html" type = "Hiring staff" name = "Hiring staff" value = "Hiring staff">Workshift</a>
                                                     </div>-->

      {% endblock %}