{% extends 'basics.html' %}


    {% block style %}
    <link rel = "stylesheet" href = "{{ url_for('static',filename='css/Money.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    {% endblock %}
{% block title %}Money    {% endblock %}
{% block body %}
    <div class = "intro">
        <h1>Оплата сотрудникам</h1>
<div class = "container">
    <img src = "{{ url_for('static',filename='imgs/money.jpg') }}">
    <form>
        <div class = "dws-input">
        <input type = "text" name = "name" placeholder = "Введите имя:">
        </div>
        <div class = "dws-input">
        <input type = "text" name = "surname" placeholder = "Введите фамилию:">
        </div>
        <div class = "dws-input">
        <input type = "text" name = "patronomyc" placeholder = "Введите отчество:">
        </div>
        <div class = "dws-input">
        <input type = "text" name = "month" placeholder = "Введите номер месяца:">
        </div>
        <!--add year-->
        <br />
        <br />
        <a class = "dws-submit2" href = "" type = "submit" name = "submit" value = "Report">Рассчитать</a>
        <br />
        <br />
        <br />
        <a class = "restore" href = "director">Назад</a>
    </form>
</div>
</div>    {% endblock %}