{% extends 'basics.html' %}

    {% block style %}
        <link rel = "stylesheet" href = "{{ url_for('static',filename='css/Workshift2.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    {% endblock %}
{% block title %}Trainer    {% endblock %}
{% block body %}
                         <h1>Рабочая смена</h1>
                                                            <table class = "table" border = "2">
                                                                   <tr>
                                                                          <th class = "text">Имя сотрудника</th>
                                                                          <th class = "text">Фамилия сотрудника</th>
                                                                          <th class = "text">Отчество сотрудника</th>
                                                                          <th class = "text">День смены</th>
                                                                          <th class = "text">Начало смены</th>
                                                                          <th class = "text">Конец смены</th>
                                                                   </tr>
                                                                    {% for row in data %}
                                                                   <tr>
                                                                          <td class = "size">{{row[0]}}</td>
                                                                          <td class = "size">{{row[1]}}</td>
                                                                          <td class = "size">{{row[2]}}</td>
                                                                          <td class = "size">{{row[3]}}</td>
                                                                          <td class = "size">{{row[4]}}</td>
                                                                          <td class = "size">{{row[5]}}</td>
                                                                   </tr>
                                                                    {% endfor %}
                                                            </table>
                                                            <br />
                                                            <br />
                                                            <a class = "restore" href = "/director/{{username}}">Назад</a>
                                                            <!--<button class = "dws-submit3" alt = "" type = "submit">Расписание на следующую неделю</button>-->
                                                     <!--<a class = "dws-submit2" href = "file:///C:/Users/Owner/Desktop/Курсовая%20Малахов/Training.html" type = "Money" name = "Money" value = "Money">Training</a>
                                                     </div>
                                                     <div class = "dws-input3">
                                                     <a class = "dws-submit2" href = "file:///C:/Users/Owner/Desktop/Курсовая%20Малахов/Workshift.html" type = "Hiring staff" name = "Hiring staff" value = "Hiring staff">Workshift</a>
                                                     </div>-->

      {% endblock %}