{% extends 'basics.html' %}


    {% block style %}
    <link rel = "stylesheet" href = "{{ url_for('static',filename='css/End_Abonement.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    {% endblock %}
{% block title %}Statistics    {% endblock %}
{% block body %}
    <div class = "intro">
        <h1>Закрытие абонемента</h1>
<div class = "container">
    <img src = "{{ url_for('static',filename='imgs/client.jpg') }}">
    <form>
        <div class = "dws-input">
        <input type = "text" name = "month" placeholder = "Введите название услуги">
        </div>
        <div class = "dws-input">
        <input type = "text" name = "surname" placeholder = "Номер телефона:">
        </div>
        <br />
        <br />
        <a class = "dws-submit2" href = "" type = "submit" name = "submit" value = "Report">Закрыть абонемент</a>
        <br />
        <br />
        <br />
        <a class = "restore" href = "/admin">Назад</a>
    </form>
</div>
</div>    {% endblock %}