{% extends 'basics.html' %}


    {% block style %}
    <link rel = "stylesheet" href = "{{ url_for('static',filename='css/Stata.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    {% endblock %}
{% block title %}Statistics    {% endblock %}
{% block body %}
    <div class = "intro">
        <h1>Статистика</h1>
<div class = "container">
    <img src = "{{ url_for('static',filename='imgs/Statistics.jpg') }}">
    <form>
        <div class = "dws-input">
        <input type = "text" name = "month" placeholder = "Введите номер месяца:">
        </div>
        <div class = "dws-input">
        <input type = "text" name = "surname" placeholder = "Введите год:">
        </div>
        <br />
        <br />
        <a class = "dws-submit2" href = "" type = "submit" name = "submit" value = "Report">Статистика за месяц</a>
        <br />
        <br />
        <br />
        <a class = "restore" href = "director">Назад</a>
    </form>
</div>
</div>    {% endblock %}